<footer class="footer">
  <small>
    <!-- <a href="http://cb-tools.org/">C-BED</a> -->
    
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://cb-tools.org/">C-BED</a></li>
    </ul>
  </nav>
  <%= link_to image_tag("ilo.jpg", alt: "ILO")%>
  <%= link_to image_tag("cbed.png", alt: "C-BED")%>
  <%= link_to image_tag("jpn.png", alt: "JPN")%>

</footer>
