<footer class="footer">
  <small>
    <!-- <a href="http://cb-tools.org/">C-BED</a> -->
    
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>

      <li><a href="http://cb-tools.org/">C-BED</a></li>
    </ul>
  </nav>
  <%= link_to image_tag("ilo.jpg", alt: "ILO", height: "", width: "175" )%>
<%= link_to image_tag("cbed_new_logo.png", alt: "C-BED", height: "", width: "200")%>
  <%= link_to image_tag("jpn.png", alt: "JPN", height: "", width: "250")%>
  <%= link_to image_tag("usyd.jpg", alt: "USYD", height:"", width:"175")%>

</footer>
