    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "C-BED", '#', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home",    root_path %></li>
              <li><%= link_to "Request Access", "http://survey.websurveycreator.com/s.aspx?s=ea05abc6-63e3-4f8a-bef5-a2c30b7c107d"%></li>
              <li><%= link_to "Request Certificates", "http://survey.websurveycreator.com/s.aspx?s=4092769a-acb9-47d3-872e-dfefbcaf2513" %></li>
              <li><%= link_to "Report", "http://portal.websurveycreator.com/p.aspx?p=c551cfbf-e53a-4511-af6f-b2090f9a6c39" %></li>
              <li><%= link_to "Help",    help_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>